
<h1>Angular Graphic App ( spring + Angular in one module )</h1>

<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component - House</a></li>
    <li><a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">Third Component - draw rectangle </a></li>
    <li><a routerLink="/fourth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Fourth Component - skew rectangle </a></li>
    <li><a routerLink="/fifth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Fifth Component - draw </a></li>
    <li><a routerLink="/sixth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Sixth Component - curves </a></li>
    <li><a routerLink="/seventh-component" routerLinkActive="active" ariaCurrentWhenActive="page">Seventh Component - net </a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>





