<h1>Angular Graphic App ( spring + Angular in one module )</h1>

<div fxLayout="row" fxLayoutAlign="space-around center">

  <div fxFlex="25" >
    <nav>
      <ul>
        <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a>
        </li>
        <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component -
          House</a></li>
        <li><a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">Third Component -
          draw rectangle </a></li>
        <li><a routerLink="/fourth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Fourth Component -
          skew rectangle </a></li>
        <li><a routerLink="/fifth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Fifth Component -
          draw </a></li>
        <li><a routerLink="/sixth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Sixth Component -
          curves </a></li>
        <li><a routerLink="/seventh-component" routerLinkActive="active" ariaCurrentWhenActive="page">Seventh Component
          - net </a>
        <li><a routerLink="/eighth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Eighth Component -
          flowers </a></li>
        <li><a routerLink="/tenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Tenth Component -
          pick flowers </a></li>
        <li><a routerLink="/eleventh-component" routerLinkActive="active" ariaCurrentWhenActive="page">Eleventh Component -
          sound </a></li>
        <li><a routerLink="/twelfth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Twelfth Component -
          sound with circle </a></li>
        <li><a routerLink="/thirteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Thirteenth Component -
          sound with circle 2 </a></li>
      </ul>
    </nav>
  </div>



  <div fxFlex="75">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </div>



</div>







