<h1>Angular Graphic App ( spring + Angular in one module )</h1>

<div fxLayout="row" fxLayoutAlign="space-around center">

  <div fxLayout="column" fxFlex="25">
    <mat-card>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

        <h3>Introduction</h3>

        <mat-selection-list [multiple]="false">
          <mat-list-option>
            <h5 routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              House /Second Comp./ </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Draw rectangle /Third Comp./ </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/fourth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Skew rectangle /Fourth Compo./  </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/fifth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Draw /Fifth Compo./  </h5>
          </mat-list-option>

          <h3>Curves</h3>

          <mat-list-option>
            <h5 routerLink="/sixth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Curves /Sixth Compo./  </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/seventh-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Net /Seventh Compo./  </h5>
          </mat-list-option>

          <h3>Flowers</h3>

          <mat-list-option>
            <h5 routerLink="/eighth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Flowers /Eighth Compo./  </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/tenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Pick flowers /Tenth Compo./  </h5>
          </mat-list-option>

          <h3>Sound</h3>

          <mat-list-option>
            <h5 routerLink="/eleventh-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Sound  /Eleventh Compo./  </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/twelfth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Circle 1 /Twelfth Compo./  </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/thirteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Circle 2 /Thirteenth Compo./  </h5>
          </mat-list-option>

          <h3>Particles</h3>

          <mat-list-option>
            <h5 routerLink="/fourteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Particle /Fourteenth Compo./  </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/fifteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Particles /Fifteenth Compo./  </h5>
          </mat-list-option>
          <mat-list-option>
            <h5 routerLink="/sixteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Photo /Sixteenth Compo./  </h5>
          </mat-list-option>

          <h3>Net</h3>

          <mat-list-option>
            <h5 routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              Net /First Compo./</h5>
          </mat-list-option>
        </mat-selection-list>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </div>

  <div fxFlex="75">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </div>


</div>







