<h1>Angular Graphic App ( spring + Angular in one module )</h1>

<div fxLayout="row" fxLayoutAlign="space-around center">

  <div fxLayout="column" fxFlex="25">
    <mat-card>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div>Introduction</div>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          <a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Second Component - House</a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Third Component - draw rectangle </a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/fourth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Fourth Component - skew rectangle </a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/fifth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Fifth Component - draw </a>
        </mat-list-option>

        <div>Curves</div>

        <mat-list-option>
          <a routerLink="/sixth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Sixth Component - curves </a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/seventh-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Seventh Component - net </a>
        </mat-list-option>

        <div>Flowers</div>

        <mat-list-option>
          <a routerLink="/eighth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Eighth Component - flowers </a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/tenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Tenth Component - pick flowers </a>
        </mat-list-option>

        <div>Sound</div>

        <mat-list-option>
          <a routerLink="/eleventh-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Eleventh Component - sound </a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/twelfth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Twelfth Component - sound with circle </a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/thirteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Thirteenth Component - sound with circle 2 </a>
        </mat-list-option>

        <div>Particles</div>

        <mat-list-option>
          <a routerLink="/fourteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Fourteenth Component - Particle </a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/fifteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Fifteenth Component - Particles </a>
        </mat-list-option>
        <mat-list-option>
          <a routerLink="/sixteenth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            Sixteenth Component - Photo </a>
        </mat-list-option>

        <div>Net</div>

        <mat-list-option>
          <a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            First Component</a>
        </mat-list-option>
      </mat-selection-list>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </div>

  <div fxFlex="75">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </div>


</div>







